.header {
	font-size: 24px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
	text-decoration: none;
}

.image#one, .image#two {
	font-size: 24px;
	font-family: 'Times New Roman', Times, serif;
}

h3 {
	font-size: 16px;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}